<div class="container">
    <div class="headnav"><mat-icon>eco</mat-icon> Survey Portal</div>
    <br>
    <div class="menu-bar">
        <ul>
            <li class="active"><a href="#"><mat-icon>home</mat-icon> Home</a>
            <li><a>Surveyor</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a routerLink="/login">Surveyor Login</a></li>
                    </ul>
                </div>
            </li>

            <li><a >Participant</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a routerLink="/registration">Registration</a></li>
                        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
                    </ul>
                </div>
            </li>

            <li><a href="#">Survey</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="#"></a>List of Surveys</li>
                    </ul>
                </div>

            </li>
            <li><a href="#">About us</a>
            </li>
        </ul>
    </div><br>

    <!-- <section id="block">
        <div class="box">survey1</div>
        <div class="box">survey2</div>
        <div class="box">survey3</div>
        <div class="box">survey4</div>
    </section> -->
    <footer>
        <div>---</div>
    </footer>
</div>


