<nav class="navbar navbar-primary">
    <span class="navbar-brand mb-0 h1" id="headnav"><mat-icon>people</mat-icon>Partcipant Dashboard</span>
    <!-- <div id="log" style="position: relative;padding-left: 100px;">
        <button type="button" class="btn btn-warning" id="logbtn"><mat-icon>logout</mat-icon>Logout</button>
    </div> -->
</nav>

<section id="block">
    <div class="box">
        <div>Survey</div>
        <div class="btn">
            <button type="button" class="btn btn-info">View Survey</button>
        </div>    
    </div>
    <div class="box">
        <div>Topic</div>
        <div class="btn">
            <button type="button" class="btn btn-info">View Topic</button>
        </div>
    </div>
    <div class="box">
        <div>FeedBack</div>
        <div class="btn">
            <button type="button" class="btn btn-info">Add FeedBack</button>&nbsp;
            <button type="button" class="btn btn-info">View FeedBack</button>
        </div>
    </div>
    <div class="box">
        <div>Profile</div>
        <div class="btn">
            <button type="button" class="btn btn-info">Update Profile</button>&nbsp;
        </div>
    </div>
</section>

