 <!-- The content below is only a placeholder and can be replaced.-->
 <!-- <div style="text-align:center">
  <h3>
    Welcome to {{ title }}!
  </h3>
  
</div>
<div>
<h4>Links To Navigate </h4>
<ul>
  <li>
    <h2><a routerLink="survey" class="btn btn-info">List Survey</a></h2>
  </li>
  <li>
    <h2><a routerLink="addSurvey" class="btn btn-info">Add Survey</a></h2>
  </li>
  
</ul>
</div>
<div>
<router-outlet></router-outlet>
</div>
<footer class="footer">
  <div style="text-align: center;" class="container">
    <span>All Rights Reserved 2022 @Ven&Co</span>
  </div>
</footer>  -->

<!-- The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h3>
    Welcome to {{ title }}!
  </h3>
  
</div>
<div>
<h4>Links To Navigate </h4>
<ul>
  <li>
    <h2><a routerLink="question" class="btn btn-info">List Question</a></h2>
  </li>
  <li>
    <h2><a routerLink="addQuestion" class="btn btn-info">Add Question</a></h2>
  </li>
  
</ul>
</div>
<div>
<router-outlet></router-outlet>
</div>
<footer class="footer">
  <div style="text-align: center;" class="container">
    <span>All Rights Reserved 2022 @Ven&Co</span>
  </div>
</footer> --> 

  <!-- <div style="text-align:center">
  <h3>
    Welcome to {{ title }}!
  </h3>
  
</div>
<div>
<h4>Links To Navigate </h4>
<ul>
  <li>
    <h2><a routerLink="feedback" class="btn btn-info">List Feedback</a></h2>
  </li>
  <li>
    <h2><a routerLink="addFeedback" class="btn btn-info">Add Feedback</a></h2>
  </li>
  
</ul>
</div>
<div>
<router-outlet></router-outlet>
</div>
<footer class="footer">
  <div style="text-align: center;" class="container">
    <span>All Rights Reserved 2022 @Ven&Co</span>
  </div>
</footer>
     -->
   <!-- <div style="text-align: center;">
    <h3>
        Welcome to{{title}}
    </h3>
    
    </div>
    <div>
     <h4>Links to navigate</h4>
     <ul>
        <li>
            <h2><a routerLink="/topic" class="btn btn-info">List Topic</a> </h2>
        </li>
        <li>
            <h2><a routerLink="/addTopic" class="btn btn-info">Add Topic</a></h2>
        </li>
    </ul>
    </div>
    
    <div>
        <router-outlet></router-outlet>
    </div>
    
    <footer class="footer">
        <div style="text-align: center;" class="container">
        <span>All Rights Reserved by @kalai</span>
        </div>
    </footer> -->
    <!-- <div class="container">
      <span><br><br></span>
    <button class="btn btn-info" >
      <a routerLink="surveyors" class="nav-link" routerLinkActive="active" >Surveyor List</a>
    </button><br><br>
  
    <button class="btn btn-info">
      <a routerLink="add" class="nav-link" routerLinkActive="active">Add Surveyor</a>
    </button><br><br>
</div>    
<div class="container">
<router-outlet></router-outlet>
</div>
<footer> 
<div class="container" style="text-align: center;" >
  <span style="color: rgb(51, 3, 12); font-weight: 600;">All Rights Reserved 2022 @Komal</span>
</div>
</footer> -->
<!-- <app-home></app-home> -->
<!-- <app-login></app-login>  -->

<!-- <app-surveyor-home></app-surveyor-home> -->
<!-- <app-paricipant-home></app-paricipant-home> -->
 <div class="container">
  <div class="headnav"><mat-icon>eco</mat-icon> Survey Portal</div>
  <br>
  <div class="menu-bar">
      <ul>
          <li class="active"><a href="#"><mat-icon>home</mat-icon> Home</a>
          <li><a>Surveyor</a>
              <div class="sub-menu-1">
                  <ul>
                      <li><a routerLink="/survey">Surveyor Login</a></li>
                  </ul>
              </div>
          </li>

          <li><a >Participant</a>
              <div class="sub-menu-1">
                  <ul>
                      <li>Registration</li>
                      <li><a routerLink="/login"> Login</a> </li>
                  </ul>
              </div>
          </li>

          <li><a href="#">Survey</a> 
              <div class="sub-menu-1">
                  <ul>
                      <li><a href="#"></a>List of Surveys</li>
                  </ul>
              </div>

          </li>
          <li><a routerLink="/aboutus">About us</a>
          </li>
      </ul>
  </div><br>
 <footer>
      <div>---</div>
  </footer>
</div> 
 <!-- <app-registration></app-registration> -->
 <router-outlet></router-outlet>  
<!-- <app-home></app-home> -->
<!-- <app-add-survey></app-add-survey> -->