<nav class="navbar navbar-primary">
    <span class="navbar-brand mb-0 h1" id="headnav"><mat-icon>people</mat-icon>Surveyor Dashboard</span>
    <!-- <div>
        <button  type="button" class="btn btn-warning" id="logbtn"><mat-icon>logout</mat-icon>Logout</button>
    </div> -->
</nav>

<section id="block">
    <div class="box">
        <div>Survey</div>
        <div class="btn">
            <button type="button" class="btn btn-info">Add Survey</button>&nbsp;
            <button type="button" class="btn btn-danger">View Survey</button>
        </div>    
    </div>
    <div class="box">
        <div>Topic</div>
        <div class="btn">
            <button type="button" class="btn btn-info">Add Topic </button>&nbsp;
            <button type="button" class="btn btn-danger">View Topic</button>
        </div>
    </div>
    <div class="box">
        <div>FeedBack</div>
        <div class="btn">
            <button type="button" class="btn btn-info">View FeedBack</button>&nbsp;
        </div>
    </div>
    <div class="box">
        <div>Participant</div>
        <div class="btn">
            <button type="button" class="btn btn-info">View Participant</button>&nbsp;
        </div>
    </div>
</section>
